<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>时钟效果</title>
  <script data-main="js/main" src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js"></script>
</head>

<body style="margin: 0;height: 100%;">
  <canvas id="canvas" style="display: block;margin: 0 auto;">
    您的浏览器不支持canvas，请更换浏览器再试。
  </canvas>
</body>

</html>